<div id='search_form'>
  <%= form_with(url: search_users_path, method: :post, local: true, class: "flex items-center mb-8") do %>
    <div class="relative w-full">
      <%= text_field_tag :query, '', placeholder: "Enter user name to search", class: "pl-3 pr-10 py-2 border rounded-lg w-full focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
      <%= submit_tag "Search", class: "absolute inset-y-0 right-0 px-4 text-white bg-blue-500 rounded-r-lg hover:bg-blue-600 focus:outline-none" %>
      <%= submit_tag 'X', class: "absolute inset-y-0 right-20 px-4 rounded-r-lg text-gray-500 hover:text-black" %>
    </div>
  <% end %>
</div>