<div id="users">
  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= render 'user_list_user_section', user: user %>
    <% end %>
  <% else %>
    <p class="text-gray-500 text-center">No users found</p>
  <% end %>
</div>